.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
    margin-top: 10%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
    margin-top: 10%;
}

.title {
    width: 21ch;
    overflow: hidden;
    color: white;
    font-size: 40px;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid orange;
    animation: printed-text 5s steps(21),
        flashin-border .75s step-start infinite;
}

@keyframes flashin-border {
    0% {
        border-color: orange;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: orange;
    }
}

@keyframes printed-text {
    from {
        width: 0%;
    }
}